<%= form_for @season do |f| %>
  <% if @season.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
        <% @season.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.label :name %> (e.g. "2021 Formula 1 World Championship")
    <div>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>

<br>
<%= link_to 'Back', root_path %>
