<%= form_for [@season, @weekend, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.label :session_id %>
    <div>
      <%= f.select :session_id, grouped_options_for_select(Session.all.group_by(&:series).map{ |series, sessions| [series.name, sessions.map{ |session| [session.name, session.id]}]}, f.object.session_id), class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="form-group">
    Date
    <div>
      <%= f.date_field :start_time_date_field, class: 'form-control' %>
    </div>
    <br>
  </div>
  <div class="form-group">
    <%= f.label :start_time %> in UTC
    <div>
      <%= f.time_field :start_time_time_field, class: 'form-control' %>
    </div>
    <br>
  </div>
  <div class="form-group">
    <%= f.label :local_time_offset %> (e.g. "UTC+1" WITHOUT QUOTES)
    <div>
    <%= f.text_field :local_time_offset, class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>

<br>

<%= link_to 'Back', season_weekend_path(@season, @weekend) %>

<script>
  $(document).ready(function() {
    $("select#event_session_id").select2();
  });
</script>
