<%= form_for [@season, @weekend, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.label :racing_class %>
    <div>
      <%= f.select :racing_class, Event::RACING_CLASSES, class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="event-names form-group" id="formula_1_names">
    <%= f.label :name %>
    <div>
      <%= f.select :name, Event::NAMES["Formula 1"], class: 'form-control', disabled: false %>
    </div>
    <br>
  </div>
  <div class="event-names form-group" id="formula_2_names">
    <%= f.label :name %>
    <div>
      <%= f.select :name, Event::NAMES["Formula 2"], class: 'form-control', disabled: true %>
    </div>
    <br>
  </div>
  <div class="event-names form-group" id="formula_3_names">
    <%= f.label :name %>
    <div>
      <%= f.select :name, Event::NAMES["Formula 3"], class: 'form-control', disabled: true %>
    </div>
    <br>
  </div>
  <div class="event-names form-group" id="porsche_names">
    <%= f.label :name %>
    <div>
      <%= f.select :name, Event::NAMES["Porsche Supercup"], class: 'form-control', disabled: true %>
    </div>
    <br>
  </div>
  <div class="form-group">
    Date
    <div>
      <%= f.date_field :start_time_date_field, class: 'form-control' %>
    </div>
    <br>
  </div>
  <div class="form-group">
    <%= f.label :start_time %> in UTC
    <div>
      <%= f.time_field :start_time_time_field, class: 'form-control' %>
    </div>
    <br>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>

<br>


<script>
  $("select#event_racing_class").bind("change", function() {
    $(".event-names").hide();
    $(".event-names select").attr("disabled", true);
    var selection = $(this).val();
    switch(selection) {
      case "Formula 1":
        $("#formula_1_names").show();
        $("#formula_1_names select").attr("disabled", false);
        break;
      case "Formula 2":
        $("#formula_2_names").show();
        $("#formula_2_names select").attr("disabled", false);
        break;
      case "Formula 3":
        $("#formula_3_names").show();
        $("#formula_3_names select").attr("disabled", false);
        break;
      case "Porsche Supercup":
        $("#porsche_names").show();
        $("#porsche_names select").attr("disabled", false);
        break;
      default:
        break;
    }
  }).change();
</script>
