<%= form_for @series do |f| %>
  <% if @series.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
        <% @series.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="form-group">
    <%= f.label :name %> (e.g. "Formula 1")
    <div>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>

<br>
