<h1>Racing Series</h1>

<% @all_series.each do |series| %>
  <%= link_to series.name, series_path(series) %>
  <% if cookies[:authed] || Rails.env.development? %>
     | <%= link_to "Edit", edit_series_path(series) %> | <%= link_to "Delete", series_path(series), method: :delete, data: { confirm: "Are you sure you want to delete this series?" } %>
  <% end %>
  <br><br>
<% end %>
<br><br>
<% if cookies[:authed] || Rails.env.development? %>
  <%= link_to "New Series", new_series_path %>
<% end %>
<br><br>
<%= link_to 'Back', root_path %>
