<h1><%= @weekend.gp_title %></h1>
<h2><%= @weekend.location %>, <%= @weekend.timespan %> - <%= @weekend.local_timezone %> (<%= @weekend.local_time_offset %>)</h2>
<br>

<h3>Timetable</h3>
<% @events.each do |day, events| %>
  <h4><%= day %></h4>

  <% events.each do |event| %>
    <%= "#{event.series_name} #{event.session_name} -- #{event.circuit_time} track time" %> (<%= local_time(event.start_time, "%H:%M") %> your local time)
    <% if cookies[:authed] || Rails.env.development? %>
       | <%= link_to "Edit", edit_season_weekend_event_path(@season, @weekend, event) %> | <%= link_to "Delete", season_weekend_event_path(@season, @weekend, event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
    <% end %>
    <br><br>
  <% end %>
<% end %>

<% if cookies[:authed] || Rails.env.development? %>
  <%= link_to "New Event", new_season_weekend_event_path(@season, @weekend) %> |
  <%= link_to "Edit Weekend", edit_season_weekend_path(@season, @weekend) %> |
  <%= link_to "Delete Weekend", season_weekend_path(@season, @weekend), method: :delete, data: { confirm: "Are you sure you want to delete this weekend?" } %>
<% end %>
<br><br>
<%= link_to 'Back', season_path(@season) %>
