<!DOCTYPE html>
<html>
  <head>
    <title>F1WeekendTimes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= cookies[:theme] || "light" %>">
    <div class="logo">
      <%= link_to root_path do %>
        <% if cookies[:theme] && cookies[:theme] == "dark" %>
          <%= image_tag image_url("f1_furs_dark.png"), size: '424x56' %>
        <% else %>
          <%= image_tag image_url("f1_furs_light.png"), size: '424x56' %>
        <% end %>
      <% end %>
    </div>

    <%= yield %>

    <% unless request.env['PATH_INFO'].include? "print" %>
      <br><br>
      <% if cookies[:theme] && cookies[:theme] == "dark" %>
        <%= link_to "Light Mode", root_path(theme: "light") %>
      <% else %>
        <%= link_to "Dark Mode", root_path(theme: "dark") %>
      <% end %>
    <% end %>

    <h1>#WeRawrAsOne</h1>
    <% unless request.env['PATH_INFO'].include? "print" %>
      Support development on <%= link_to "Patreon", "https://www.patreon.com/f1furs" %> or on <%= link_to "Ko-fi", "https://ko-fi.com/thatwingwaffl" %>
      <br><br>
      I legally have to disclose that this website uses cookies. They are used to display the right theme, and for admin functions.
      <%= link_to "The source code is publicly available if you'd like to check.", "https://github.com/dantherussell/f1_weekend_times" %>
    <% end %>
  </body>
</html>
