<!DOCTYPE html>
<html>
  <head>
    <title>F1WeekendTimes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag image_url("f1_furs.png"), size: '448x84' %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
